<div class='footer'>
  <div class='footer_inner'>
    <section>
      <div class='block'>
        <a href='https://twitter.com/tak0303' target='blank'><span class='icon-twitter-3 round'></span>
        <div class='comment'>follow me on twitter</div></a>
      </div>
      <div class='block'>
        <a href='https://www.facebook.com/takashi.nakagawa.796' target='blank'><span class='icon-facebook round'></span>
        <div class='comment'>contact me on facebook</div></a>
      </div>
      <div class='block'>
        <a href='https://github.com/tak0303' target='blank'><span class='icon-github-02 round'></span>
        <div class='comment'>fork me on github</div></a>
      </div>
    </section>
  </div>
</div>
