<head>
  <meta content='text/html; charset=utf8' http-equiv='Content-Type'>
  <title>tak0303{% if page.title %} | {{ page.title }}{% endif %}</title>
  <meta content='programming notes by tak0303' name='description'>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1' name='viewport'>
  <link href='/assets/css/main.css' rel='stylesheet'>
  <link href='/assets/css/pygments.css' rel='stylesheet'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet'>
  <link href='/assets/css/pictonic.css' rel='stylesheet'>
  <!--[if IE]>
    <script src='/assets/js/pictonic.min.js'></script>
  <![endif]-->
</head>
