#header
  .container_header
    %section.name<
      %a{:href => "/"}
        tak
        %span 0303
    %ul.menu
      // you can add links with just copy
      %li
        %a{:href => "/about.html"} about